<form class="request_form" [formGroup]="requestFormGroup">
  <h1 class="request_form__title">
    <b>{{pageTitle}}</b>
  </h1>

  <mat-vertical-stepper *ngFor="let section of sectionRequest; let i = index" linear="true" #stepper>

    <!-- Contact Information -->
    <mat-step label="Контактні дані" editable="true" [stepControl]="contacts">
      <ng-container *ngFor="let section of sectionContacts; let i = index">
        <app-form-stepper [stepNumber]="i + 1" [legend]="section.legend">
          <ng-container *ngFor="let fieldItem of section.fields">
            <app-step-contact-info [fieldItem]="fieldItem" [fg]="contacts"></app-step-contact-info>
          </ng-container>
        </app-form-stepper>
      </ng-container>
      <div>
        <button mat-raised-button matStepperPrevious type="button">Назад</button>
        <button mat-raised-button matStepperNext type="button" color="warn" style="font-size: 1rem">
          <!-- <a [href]="refDocument">Завантажити</a> -->
          Далі
        </button>
      </div>
    </mat-step>
    <!-- Address Object -->
    <mat-step label="Адреса об’єкта" editable="true" [stepControl]="location">
      <ng-container *ngFor="let section of sectionAddress; let i = index">
        <app-form-stepper [stepNumber]="i + 1" [legend]="section.legend">
          <ng-container *ngFor="let fieldItem of section.fields">
            <app-step-address-info [fieldItem]="fieldItem" [fg]="location"></app-step-address-info>
          </ng-container>
        </app-form-stepper>
      </ng-container>
      <div>
        <button mat-raised-button matStepperPrevious type="button">Назад</button>
        <button mat-raised-button matStepperNext type="button" color="warn" style="font-size: 1rem">
          <!-- <a [href]="refDocument">Завантажити</a> -->
          <a>Далі</a>
        </button>
      </div>
    </mat-step>
    <!-- Fill of Application -->
    <mat-step label="Додаткова інформація" editable="true" [stepControl]="clientType">
      <!-- Fill of Application -->
      <app-form-stepper stepNumber="3" legend="Подання заяви">
        <app-step-application [fg]="clientType"></app-step-application>
      </app-form-stepper>

      <div>
        <button mat-raised-button matStepperPrevious type="button">Назад</button>
        <button mat-raised-button matStepperNext type="button" color="warn" style="font-size: 1rem">
          <!-- <a [href]="refDocument">Завантажити</a> -->
          <a>Далі</a>
        </button>
      </div>
    </mat-step>

    <!-- Document Step -->
    <mat-step label="Заповненя заяви" editable="true" [stepControl]="personalInfo">

      <ng-container *ngFor="let section of sectionRequest; let i = index">
        <app-form-stepper stepNumber="4" legend="Заповненя заяви">
          <ng-container *ngFor="let fieldItem of section.fields">
            <app-step-download [fieldItem]="fieldItem" [fg]="personalInfo"></app-step-download>

          </ng-container>
          <br />

        </app-form-stepper>
      </ng-container>

      <!-- <p>Завантажте файл, роздрукуйте та заповніть його.</p>  -->
      <button mat-raised-button matStepperNext type="button" color="warn" style="font-size: 1rem"
        (click)="generatePdf(getInputs())">
        <!-- <a [href]="refDocument">Завантажити</a> -->
        <!-- <a href="https://zakon.rada.gov.ua/laws/file/text/76/f490366n267.doc">Взяти на заповнення</a> Взяти на підпис -->
        Взяти на підпис

      </button>
    </mat-step>

    <!-- Document List -->
    <mat-step label="Документи" editable="true">
      <!-- Document List -->
      <ng-container *ngIf="(documentsForDownload$ | async).length > 0">
        <app-form-stepper stepNumber="5" legend="Перелік документів для завантаження">
          <app-step-document></app-step-document>
        </app-form-stepper>
      </ng-container>
      <div>
        <button mat-raised-button matStepperPrevious type="button">Назад</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div class="button_container">
    <button mat-raised-button color="warn" class="submit_button" type="submit" (click)="send()"
      [disabled]="requestFormGroup.invalid || !isDocumentsSelected()">
      Відправити
    </button>
  </div>
</form>