<div [formGroup]="fg">
  
  <p style="font-weight: bold; margin-top: 1rem; margin-bottom: 0;" >{{ fieldItem.placeholder }}</p>
<mat-form-field class="example-full-width">
  
  <!-- <mat-label> {{ fieldItem.placeholder }}</mat-label> -->
  <input type="text" matInput [errorStateMatcher]="matcher" [formControlName]="fieldItem.name"
     required /> 
     <!-- [placeholder]="fieldItem.placeholder" -->
  <mat-hint></mat-hint>
  <mat-error>
    <app-error-list [fieldId]="fieldItem.name" [fg]="fg"></app-error-list>
  </mat-error>
</mat-form-field>
</div>

