<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLinkActive="router-link-active" [routerLink]="['/request-form']" href="#">Компанія</a> -->
      <a mat-list-item href="https://www.zoe.com.ua/особисті-кабінети/">Особистий кабінет</a>
      <a mat-list-item href="https://www.zoe.com.ua">На головну</a>
      <!-- <a mat-list-item href="#">Продажі</a>
      <a mat-list-item href="#">Акціонерам</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div class="toolbar-container">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async ">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="logo_zoe">
          <img class="logo_zoe__image" src="assets/image/zoe_logo-min.png" alt="">
          <div class="logo_zoe__title">ПАТ Запоріжжяобленерго</div>
        </div>
        <div class="toolbar-menu" *ngIf="isWebAndTablet$ | async">
          <button mat-button onclick="location.href='https://www.zoe.com.ua/особисті-кабінети/'">Особистий кабінет</button>
          <button mat-button onclick="location.href='https://www.zoe.com.ua'">На головну</button>
          <!-- <button mat-button [matMenuTriggerFor]="companyMenu">Компанія</button>
          <mat-menu #companyMenu="matMenu">
            <button mat-menu-item></button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="presscenterMenu">Прес-центр</button>
          <mat-menu #presscenterMenu="matMenu">
            <button mat-menu-item></button>
          </mat-menu> -->
          <!-- <button mat-button [matMenuTriggerFor]="salesMenu" class="font-size: 1rem;">Акціонерам</button>
          <mat-menu #salesMenu="matMenu">
            <button mat-menu-item></button>
          </mat-menu> -->
        </div>

      </div>
    </mat-toolbar>

    <!-- Add Content Here -->

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>