// @import 'index';

body{

}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;

  width: 2450px;
}
@media screen and (max-width: 1920px ){
  .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }
}
@media screen and (max-width: 1280px ){
  .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }
}
@media screen and (max-width: 960px ){
  .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }
}
@media screen and (max-width: 600px ){
  .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }
}

//.list-item {
//  font-size: 2rem;
//}

