<!--The content below is only a placeholder and can be replaced.-->
<main-nav>
  <div class="main-container">
    <div class="container">
      <div class="head_banner">
        <div class="head_banner__dark">
          <img class="head_banner__image" src="assets/image/zoeWriteGirl.jpg" alt="">
        </div>

        <h1 class="head_banner__title">
          <b>ПОДАННЯ ЗАЯВИ НА ПРИЄДНАННЯ В ЕЛЕКТРОННОМУ ВИГЛЯДІ</b>
        </h1>
      </div>

      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main-nav>